	path = apps/persona/src/snackPersona/traveler
	url = https://github.com/Keyhole-Koro/snackTraveler.git
	ignore = dirty
[submodule "snackPersona"]
	path = apps/persona
	url = https://github.com/Keyhole-Koro/snackPersona.git
	ignore = dirty
[submodule "snackWeb"]
	path = apps/web
	url = https://github.com/Keyhole-Koro/snackWeb.git
	ignore = dirty
