[submodule "snackTraveler"]
	path = snackTraveler
	url = https://github.com/Keyhole-Koro/snackTraveler.git
[submodule "snackPersona"]
	path = snackPersona
	url = https://github.com/Keyhole-Koro/snackPersona.git
[submodule "snackWeb"]
	path = snackWeb
	url = https://github.com/Keyhole-Koro/snackWeb.git
